<div class="horizontal-menu" id="printPageButton">
  <nav class="navbar top-navbar">
    <div class="container">
      <div class="navbar-content">

        <!--- Logo -->
        <div class="row">
          <img class="wd-70 ht-50 my-1" src="../../../../assets/images/others/floodyLogo.jpeg">
        </div>

        <ul class="navbar-nav">
          <li class="nav-item nav-profile" ngbDropdown>
            <a class="nav-link" ngbDropdownToggle id="profileDropdown">
              <img class="image-style" src="../../../../assets/icons/Group 35012.svg" alt="profile"
                style="border-radius: 3px;">
            </a>
            <div ngbDropdownMenu class="px-0" aria-labelledby="profileDropdown">
              <ul class="list-unstyled p-1">
                <!-- <li class="dropdown-item py-2">
                  <a  (click)="onResetPassword()" class="d-flex text-body ms-0">
                    <i class="feather icon-key me-2 icon-md"></i>
                    <span class="hover">Reset Password</span>
                  </a>
                </li> -->
                <li class="dropdown-item py-2">
                  <a  (click)="onLogout()" class="d-flex text-body ms-0">
                    <i class="feather icon-log-out me-2 icon-md"></i>
                    <span class="hover">Log Out</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- <li  *ngIf="!IsCeoLogin"  class="d-none d-sm-block profile my-2 mx-2">
            <span><b>{{schoolName}}</b></span><br>
            <span>{{userName}}</span>
          </li> -->
          <!-- <li class="d-none d-sm-block profile my-3 mx-2">
            <span>{{userName}}</span>
          </li>
          <li class="d-none d-sm-block"><img class="nav-img" src="../../../../assets/icons/menu.svg" /></li> -->
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          (click)="toggleHeaderMenu()">
          <!-- <i data-feather="menu" class="text-body"></i>
           -->
          <!-- <img height="24px" width="24px" src="../../../../assets/images/menu.png" /> -->
     
        </button>

      </div>
    </div>
  </nav>

  <nav class="bottom-navbar">

    <div class="container">

      <!--- Menu -->
      <ul class="nav page-navigation">
        <ng-container *ngFor="let item of menuItems">

          <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!item.isMegaMenu">
            <a class="nav-link" [routerLink]="item.link" *ngIf="!hasItems(item)">
              <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon *ngIf="item.icon"></i>
              <span class="menu-title">{{ item.label }}</span>
            </a>
            <a href="javascript:void(0);" class="nav-link" *ngIf="hasItems(item)">              <!-- [ng-mouseenter]="menuMouseEnter()" -->
              <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon *ngIf="item.icon"></i>
              <span class="menu-title">{{ item.label }}</span>
              <i class="link-arrow"></i>
            </a>
            <div class="submenu"  [ngClass]="{'hideMenuStyle' : isHide}" *ngIf="hasItems(item)" >

              <ul class="submenu-item" *ngFor="let subMenu of item.subMenus">
                <ng-container *ngFor="let subMenuItem of subMenu.subMenuItems">
                  <li class="category-heading" *ngIf="subMenuItem.isTitle">{{ subMenuItem.label }}</li>

                  <li class="nav-item" *ngIf="!subMenuItem.isTitle && !subMenuItem.visible">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="subMenuItem.link">{{
                      subMenuItem.label }}</a>
                    <span class="badge bg-{{subMenuItem.badge.variant}}"
                      *ngIf="subMenuItem.badge">{{subMenuItem.badge.text}}</span>
                  </li>
                </ng-container>
              </ul>

            </div>
          </li>

          <li class="nav-item mega-menu" [routerLinkActive]="['active']" *ngIf="item.isMegaMenu">
            <a href="javascript:void(0);" class="nav-link">
              <!-- (click)="handleMenuClick()" -->
              <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon *ngIf="item.icon"></i>
              <span class="menu-title">{{ item.label }}</span>
              <i class="link-arrow"></i>
            </a>
            <div class="submenu">
              <!-- MenuStyle -->
              <div class="row">
                <div class="col-md-3" *ngFor="let subMenu of item.subMenus">
                  <ul class="submenu-item">
                    <ng-container *ngFor="let subMenuItem of subMenu.subMenuItems">

                      <li class="category-heading" *ngIf="subMenuItem.isTitle">{{ subMenuItem.label }}</li>

                      <li class="nav-item" *ngIf="!subMenuItem.isTitle && !subMenuItem.visible">
                         <!-- (click)="handleSubMenu()" -->
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="subMenuItem.link">{{
                          subMenuItem.label }}</a>
                      </li>

                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>



    </div>
    <!-- <button pButton type="button" class="p-button-success in-progress" > In&nbsp;Progress </button> -->

  </nav>

  <img class="" style="width: 100%;" src="../../../../assets/images/others/banner.jpg">

</div>