.backclr-grn {
  background-color: var(--school-dashboard);
  color: white;
  padding: 10px;
  margin-bottom: 0;
}

.font-16 {
  font-size: 16px;
  font-weight: 500;
}

.p-card.p-component {
  border-top: solid !important;
}
@media (max-width: 767px){
    .mobileStyle {
     text-align: center;
    }
  }